<!-- pop-up keterangan error jika ada -->
<!-- berisi pesanError dari hasil validasi -->
<script>
    if ("<%= pesanError %>" !== "") {
        window.onload = function() {
            alert("<%= pesanError %>");
        };
    }
</script>


<!-- pengecekan apakah ada contact -->
<!-- jika ada maka method dari request tersebut adalah Update -->
<!-- Form akan terisi oleh nilai lama dari contact jika method dari request adalah Update -->
<% if (request === "PUT") { %>
    <form action="/contact?_method=PUT" method="POST">
<% } else { %>
    <form action="/contact" method="POST">
<% } %>

    <% if (request === "PUT") { %>
        <!-- saat method dari request adalah PUT maka form nama terisi dengan nama lama -->
        <!-- saat terjadi error saat pengisian form, nama yang dicantumkan saat error akan kembali dimunculkan -->
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" value="<%= contact.name %>"><br><br>
    <% } else { %>
        <% if (contact && contact.name) { %>
            <!-- kondisi ini berjalan saat request POST terdapat error dan form kembali dimunculkan -->
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name" value="<%= contact.name %>"><br><br>
        <% } else {%>
            <!-- kondisi ini berjalan saat request POST pertama dilakukan -->
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name" required><br><br>
        <% } %>
    <% } %>
    
    <label for="email">Email:</label><br>
    <% if (contact != null && contact.email) { %>
        <input type="email" id="email" name="email" value="<%= contact.email %>"><br><br>
    <% } else { %>
        <input type="email" id="email" name="email"><br><br>
    <% } %>
    
    <label for="mobile">Mobile:</label><br>
    <% if (contact != null) { %>
        <input type="tel" id="mobile" name="mobile" value="<%= contact.mobile %>" required><br><br>
    <% } else { %>
        <input type="tel" id="mobile" name="mobile" required><br><br>
    <% } %>
    
    <button type="submit">Submit</button>

    <!-- menambahkan input oldName saat PUT namun di-hidden agar tidak dapat dirubah oleh user -->
    <!-- oldName akan dipakai nantinya untuk proses perubahan data sebagai key untuk pencarian -->
    <% if (request === "PUT") { %>
        <label for="oldName" hidden>Old Name:</label><br>
        <input type="text" id="oldName" name="oldName" value="<%= oldName %>" hidden><br><br>
    <% } %>
</form>

